.Container {
    display: flex;
    gap: 24px;
    margin: 5rem 0;
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
}

.maindetailsSection {
    flex-direction: row;
    display: flex;
    width: 100%;
    gap: 15px;
}

.leftImagesSlides {
    width: 50%;

}

.mainImage {
    width: 100%;
    border-radius: 5px;
    background-color: #f0eded;
    padding: 10px;
}

.smallImage {
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.rightSpectOverview {
    width: 50%;
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.boxes {
    background-color: #4caf50;
    height: 100px;
    border-radius: 5px;
    padding: 10px;
}

.RenTnowSection {
    margin: 20px 0;
}


.related {
    display: flex;
    width: 100%;
    flex-direction: column;
}


@media (max-width:876px) {
    .maindetailsSection {
        flex-direction: column;
    }

    .leftImagesSlides {
        width: 100%;

    }

    .rightSpectOverview {
        width: 100%;
    }
}