.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 1rem;
}

.card {
    background: var(--card-bg);
    border-radius: var(--radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}

.imageWrapper {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
}

.removeButtonBox {
    position: absolute;
    left: 5px;
    top: 5px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.name {
    font-weight: 600;
    font-size: 1rem;
}

.rate {
    font-size: 0.875rem;
}

.status {
    font-size: 0.8rem;
}

.available {
    color: var(--success);
    font-weight: 500;
}

.unavailable {
    color: var(--danger);



    font-weight: 500;
}

.suggestions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
    width: 100%;
}

.error,
.empty {
    text-align: center;
    padding: 2rem;
    font-size: .95rem;
    height: 80vh;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (max-width:786px) {

    .suggestions {
        flex-direction: column;
    }
}