.pageRoot {
    padding: 12px 16px;
    margin-bottom: 50px;
    color: #000;

}

.FindSection {
    gap: 10px !important;
    display: flex;
    align-items: center;
    margin: 35px 0;
}

.searchbox {
    width: 90%;
}

.buttonStyles {
    width: 25%;
}

.NearBySection {
    margin: 30px 0;
}


.ButtonsPreveNext {
    display: flex;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}